{% extends 'layout.html' %}
{% block content %}
<p></p>
<h3>{{ title }}</h3>
<p>There are many types of public transportation in London. In 2020, there were a lot of disruptions of Transport for
    London (TfL) because of coronavirus pandemic. New regulations and changes led to the transition of popularity for
    public transport journeys by type of transport. The following visualisations are used to analyse the trends:</p>
<ul>
    <li><strong>Line graph - "Usage of public transport by journey types in London"</strong></li>
    <p>This visualisation shows all the journeys (in millions) for the available time period to analyse
        general trends in the usage of public transport in London. The user can also choose from the list to have a
        closer look at the data for particular type of transport. When nothing is selected, the line graph with all the
        data is shown.</p>
    <li><strong>Bar chart - "Cumulative usage of public transport by journey types in London"</strong></li>
    <p>This visualisation shows cumulative numbers for the usage of public transport. It allows user to observe
        whether general trend has equally affected all the journey types. The bar graph is shown for overall trend
        establishment with coloured legend for each type of transport.</p>
    <li><strong>Pie chart - "Amount of journeys in a year"</strong></li>
    <p>The pie chart shows how a total amount of journeys is divided between different types of transportation for
        the available time period. The user should be able to see the percentage of each transport category towards
        the total amount. The range slider is added to analyse the change in percentage shares over the years.</p>
    <li><strong>Subplots - "Usage of overground, DLR, tram and TfL rail journey types in London"</strong></li>
    <p>To get deeper analysis on the trends for less popular transport types, subplots are created for these types
        of transport for better comparison. The user should be able to see a separate line graph for each category
        (overground, tram, DLR and TfL Rail) from 2018 to 2021.</p>
    <li><strong>Box plots - "Statistical analysis of the quartile data"</strong></li>
    <p>This visualisation shows the statistical representation of the numerical data through the concept of box plots.
        Box plots are used to represent data through displaying its quartiles, outliers and median values. This allows
        user to see and analyse minimum/maximum values, interquartile range (IQR), outliers and signs of skewness.</p>
</ul>
{% endblock %}