{% extends 'layout.html' %}
{% block content %}
    {# Display the form validation errors #}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}

    <form method="POST" action="{{ url_for('auth_bp.contact_us') }}">
        {{ form.csrf_token }}
        <p></p>
        <h3>{{ title }}</h3>
        <p>{{ form.full_name.label }} {{ form.full_name() }}</p>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.message.label }} {{ form.message() }}</p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}