{% extends 'layout.html' %}
{% block content %}
    {# Display the form validation errors #}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}

    <form method="POST" action="{{ url_for('auth_bp.login') }}">
        {{ form.csrf_token }}
        <p></p>
        <h3>Login</h3>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.remember.label }} {{ form.remember() }}</p>
        <input type="submit" value="Login">
    </form>
{% endblock %}