{% extends 'layout.html' %}
{% block content %}
<h3>{{ title }}</h3>
<p>Creation of this web application required research and data from below:</p>
<ol>
    <li>Transport for London (TfL), “Public Transport Journeys by Type of Transport – London Datastore.”
        https://data.london.gov.uk/dataset/public-transport-journeys-type-transport
    </li>
    <li>dash.plotly.com. (n.d.). Tabs | Dash for Python Documentation | Plotly. [online] Available
        at: https://dash.plotly.com/dash-core-components/tabs
    </li>
    <li>plotlygraphs (2019b). Subplots. [online] plotly.com. Available
        at: https://plotly.com/python/subplots/
    </li>
    <li>plotly.com. (n.d.). Box Plots. [online] Available at: https://plotly.com/python/box-plots/.plotlygraphs
        (2019a).
    </li>
    <li>www.simplypsychology.org. (n.d.). Box Plot | Simply Psychology. [online] Available
        at: https://www.simplypsychology.org/boxplots.html#:~:text=The%20box%20plot%20shape%20will.
    </li>
</ol>
{% endblock %}