{% extends 'layout.html' %}
{% block content %}
    {# Display the form validation errors #}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}

    <form method="POST" action="{{ url_for('auth_bp.signup') }}">
        {{ form.csrf_token }}
        <p></p>
        <h3>Sign up</h3>
        <p>Please sign up below using the form:</p>
        <p>{{ form.first_name.label }} {{ form.first_name() }}</p>
        <p>{{ form.last_name.label }} {{ form.last_name() }}</p>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.password_repeat.label }} {{ form.password_repeat() }}</p>
        <input type="submit" value="Sign up">
    </form>
{% endblock %}